<div data-toggle="collapse" class="h3 mb-0 cal-button-area custom-arrow-right mt-1" href="#<%- place_holder %>" role="button"
  aria-expanded="false" aria-controls="<%- place_holder %>">
  <button
    class="sm3 calendar-button bg-white btn-white text-primary text-left position-relative align-middle border border-color52 dropdown-toggle cal-button-area custom-arrow px-2 border-radius-lg font-weight-bold py-0 h-28 box-shadow-1"
    id="cal-button"><span
      class=" cal-button-area d-inline-block pt-1 pl-1 pr-3 date-label-<%- place_holder %>"><%- label %></span></button>
</div>
<div class="cal_wid pos-tl my-3 mx-4 p-3">
  <div class="card h-50 border-0 bg-white align-self-center border-radius-lg shadow-sm tail-tc">
    <div class="container-fluid h-50 px-0">
      <!--calendar-top-->
      <!--calendar-year-->
      <div >
        <div class="card-title mb-0 bg-white py-3 border-0 shadow-sm border-radius-top-4 mt-10 calendar_header_class">
          <div class="d-flex align-items-center justify-content-center mx-0">
            <div class="px-0 text-left text-dark">
              <p class="mb-0 fa fa-chevron-left cal-tb-left float-left color-light pl-2 pt-1 cursor-pointer"></p>
            </div>
            <div class="px-4 text-center cursor-pointer">
              <p class="mb-0 text-color-year year" data-attr="<%-current_year%>">
                <%-current_year-1%> - <%-current_year%>
              </p>
            </div>
            <div class="px-0 text-right text-dark">
              <p class="mb-0 fa fa-chevron-right cal-tb-right float-right color-light pl-2 pt-1 cursor-pointer"></p>
            </div>
          </div>
        </div>
      </div>
      <!--calendar-block-->
      <div class="card-title mb-0 bg-transparent no-border-radius border-0 pb-3 px-2">
        <table class="table table-bordered text-center text-primary mb-0 border-primary month_row">
          <tbody>
            <% current_month="Feb" %>
            <% _.each(months, function(d, i){%>
              <% if ([0,4,8].indexOf(i) >= 0){ %>
            <tr>
              <% } %>
              <td >
                <div class="cal-bg px-3 px-sm-2 py-11 w-100 border-radius <%-d%> opacity-70 text-uppercase p-12 mb-0 month cursor-pointer"
                  data-attr="<%-d%>" data-year="<%- i > 8 ? current_year : current_year-1 %>">
                  <%- d %>
                </div>
              </td>
              <% if ([3,7,11].indexOf(i) >= 0){ %>
            </tr>
            <% } %>
            <% }) %>
          </tbody>
        </table>
      </div>
      <!--calendar-bottom-->
      <div class="card-title mb-0 bg-transparent no-border-radius border-0 pb-0 px-0">
        <!--calendar-submit-->
        <div class="card-title mb-0 bg-transparent no-border-radius border-0 pb-0 px-0 ">
          <div class="row ">
            <div class="col-12 text-center">
              <button
                class="btn bg-color-submit text-white w-100 submit text-uppercase p-12 font-weight-bold cursor-pointer border-radius-bottom-4">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
