<select class="selectpicker show-menu-arrow show-tick select-category h-28" id="category-select-dropdown" data-size="10"
    data-width="190" data-style="fs-14 btn bg-c-warning text-white border border-color-41 border-radius-lg py-1 mb-0">
    <option class="border-bottom border-warning py-2" value="Overall"> Overall</option>
    <option class="border-bottom border-warning py-2" value="Process"> Process</option>
    <option class="border-bottom border-warning py-2" value="Outcome"> Outcome</option>
</select>
