<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>UP-TSU | {{ page_title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="ui/bootstraptheme.css?primary=%2351A9FF&secondary=%23979797&success=%23767676&info=%233E81ED&warning=%23F9A77E&danger=%23F46448&light=%23ffffff&dark=%23000000&color1=%23424852&color2=%239b9b9b&color3=%23344052&color4=%232C3138&color5=%232C60B4&color6=%23E7F3FD&color7=%23808B94&color8=%234A566A&color9=%23E5F0F6&color10=%23F2BF5D&color11=%2334363C&color12=%2300C200&color13=rgba(151, 151, 151, 0.21)&color14=%23F4F6F8&color15=%23005DCA&color16=rgba(52, 64, 82, 0.19)&color17=%230D72E8&color18=%233C7CE5&color19=%23A3ACB2&color20=%237ED321&color21=%23ADB1B5&color22=%23F8E71C&color23=%23F46448&color24=%2359A600&color25=%23B9C4D6&color26=%23F5C623&color27=%234A90E2&color28=%23EA85FF&color29=%23EA85FF&color30=%23AEB7BA&color31=%23D8D8D8&line-height-1=14px&body-bg=%23F4F6F8&font-family-base=open-sans&">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="ui/font-awesome/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
  <link rel="stylesheet" href="ui/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="ui/noty/lib/noty.css">
  <link rel="stylesheet" href="css/program-area.css">
  <link rel="stylesheet" href="ui/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="node_modules/ion-rangeslider/css/ion.rangeSlider.min.css">
</head>
