<!-- Modal - short video -->
<div class="modal fade" id="forVideo" tabindex="-1" role="dialog" aria-labelledby="forVideoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forVideoLabel">Tutorial (short)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <video class="video_pause" controls width="100%">
          <source src="files/UPTSU-Desktop_short.mp4">
        </video>
      </div>
    </div>
  </div>
</div>
<!-- Modal - long video -->
<div class="modal fade" id="forVideoLong" tabindex="-1" role="dialog" aria-labelledby="forVideoLongLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forVideoLongLabel">Tutorial (long)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <video class="video_pause" controls width="100%">
          <source src="files/UPTSU-Desktop_long.mp4">
        </video>
      </div>
    </div>
  </div>
</div>
