.text-color1 {
  color: #c84644;
}
.bg-progres-bar {
  background-color: #c84644;
}
.table td,
.table th {
  vertical-align: middle;
}
.bg-table-child {
  background-color: #db5f3b;
}
.tabs-select .nav-pills .nav-link {
  color: #8a8a8a;
}
.tabs-select .nav-pills .nav-link.active,
.tabs-select .nav-pills .show > .nav-link {
  color: #0776ff;
  background-color: transparent;
}
.quick-start .sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
.bg-gradient {
  background: linear-gradient(90deg, #891462 0%, #f784d1 100%);
}
.bg-gradient-nav {
  background: linear-gradient(56.21deg, #a49b94 0%, #4d4742 100%);
}
.bg-light-1 {
  background-color: #f5f5f5;
}
.w-33 {
  width: 33.3%;
}
.table-responsive .table td,
.table-responsive .table th {
  border-top: 0;
  border-bottom: 0;
}
.cm-bg-color {
  background-color: #db5f3b;
}
.pm-bg-color {
  background-color: #fad3c7;
}
.select-option-color1 {
  color: #e09c24;
}
.select-option-color2 {
  color: #db5f3b;
}
.bg-option-data1 {
  background-color: #e09c24;
}
.bg-option-data2 {
  background-color: #db5f3b;
}
.w-96 {
  width: 96%;
}
.w-80 {
  width: 80%;
}
.w-82 {
  width: 82%;
}
.w-90 {
  width: 90%;
}
