.border-right-1 {
  border-right: 1px solid rgba(225, 225, 225, 0.1);
}

.custom-white {
  background-color: rgba(225, 225, 225, 0.03);
}

@media (max-width: 1180px) {
  .custom-white .h3 {
    font-size: 0.8rem;
  }
  .display_3 {
    font-size: 1.2rem;
  }
}

@page {
  size: a4 landscape;
}

@media print {
  html {
    transform: zoom(0.9);
  }
}

#mapid {
  height: 25vh !important;
}

.leaflet-container {
  background: 0 0 !important;
}

.leaflet-marker-pane {
  display: none !important;
}

.h-custom-100 {
  height: 100%;
}

.screen-custom-h-1 {
  height: 90vh;
}

@media (max-width: 1080px) {
  .screen-custom-h-1 {
    height: auto;
  }
}

nav.navbar.navbar-expand-md .nav-link {
  padding: 0.5rem;
}

.custom-striped .table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.custom-striped .table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-scroll {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.table-wrap {
  width: 100%;
  overflow: auto;
}

.table-wrap::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.table-wrap::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-wrap::-webkit-scrollbar-thumb {
  background: #888;
}

.table-wrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table-scroll table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table-scroll td,
.table-scroll th {
  padding: 5px 10px;
  vertical-align: middle;
  white-space: nowrap;
}

.clone {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.clone td,
.clone th {
  visibility: hidden;
  border-color: transparent;
}

.clone .fixed-side,
.clone tbody th {
  visibility: visible;
}

.clone .fixed-side {
  background: #f9f9f9;
}

.clone tfoot,
.clone thead {
  background: 0 0;
}

.rank_tooltip {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 0 !important;
  font-size: 12px !important;
  position: absolute !important;
  z-index: 9999 !important;
}

.bg-table {
  background-color: #848484 !important;
}

/* Calendar css starts*/
.cal_container {
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000 !important;
}

.cal_wid {
  width: 100% !important;
  top: 8% !important;
  left: -7.5%;
  z-index: 10000 !important;
}

#close-cal {
  top: -5px;
  right: 0px;
  position: absolute;
}

.cal-text {
  color: #344052 !important;
}

#active,
p#active_q,
p#active_q span,
#year_selected {
  background-color: #4a90e2 !important;
  color: white !important;
}

.collapse-border {
  border-collapse: inherit !important;
}

.h-100 {
  height: 100% !important;
}

.bg-color4 {
  background-color: #f4f6f8 !important;
}

/* Calendar css ends*/
