.nav-bg-gardient {
  background-image: linear-gradient(177.99deg, #3e81ed 0%, #2c60b4 100%);
}

.font-15 {
  font-size: 15px;
}

.font-11 {
  font-size: 11px;
}

.custm-pills-1 .nav-link.active,
.custm-pills-1 .show > .nav-link {
  background-color: transparent;
  color: #f8e71c !important;
  border-bottom: 4px solid #f8e71c;
  opacity: 1;
}

.mt-70 {
  margin-top: 70%;
}

.mt-30 {
  margin-top: 38%;
}

.btn-green {
  color: #fff;
  background-color: #7ed321;
  border-color: #7ed321;
}

.green-text {
  color: #7ed321;
}

.red-text {
  color: #f46448;
}

.h-97 {
  height: 97px;
}

.z-10 {
  z-index: 999999 !important;
}

.transition_pa {
  transition: 0.4s;
  transition-timing-function: ease;
}

.custom-height1 {
  height: 175px;
}

.nav_pa {
  top: 0;
}

/*calander css starts*/

.cust-nav-pills .nav-link.active,
.cust-nav-pills .show > .nav-link {
  background-color: transparent;
  border-bottom: 2px solid #417505;
  color: #417505 !important;
}

/* .rotate-180 {
  transform: rotate(180deg);
} */

.n-child-mr-0 span:nth-child(4n) {
  margin-right: 0px !important;
}

.w-23 {
  width: 23.3%;
}

/* .br-tl-tr-0 {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
} */

.h-42 {
  height: 42px;
}

.w-15 {
  width: 15%;
}

.w-30 {
  width: 30%;
}

.calendar-width {
  width: 320px;
}

.highlighted,
.highlighted span {
  background-color: #4a90e2 !important;
  color: white !important;
}

.nav-bg-1 {
  background-color: #3e81ed;
}

.bg-color-21 {
  background-color: #4a90e2 !important;
}

/*calander css ends*/

.custom-w-auto {
  width: auto;
}

.font-weight-800 {
  font-weight: 800;
}

.font-13 {
  font-size: 13px;
}

.br-5 {
  border-radius: 5px;
}

.custom-w-1 {
  width: 30px;
}

/*pa-overview css*/

.custm-pills-2 .nav-link {
  border-radius: 8px !important;
}

.custm-pills-2 .nav-link.active,
.custm-pills-2 .show > .nav-link {
  color: #fff !important;
  background-color: #51a9ff !important;
}

.custm-w-2 {
  width: 200px;
}

.custm-pb-1 {
  padding-bottom: 1px;
}
/* .h-64 {
  height: 64px;
} */

.br-10 {
  border-radius: 10px;
}

.custm-w-3 {
  width: 34px;
}

.custm-h-2 {
  height: 20px;
}

.custm-mh-1 {
  max-height: 500px;
}

.w-320 {
  width: 320px;
}

.top-15 {
  top: 15%;
}

.w-87 {
  width: 87%;
}

.tail-tr-1:before,
.tail-tr-1:after {
  right: 37px;
}
.top-13 {
  top: 13%;
}
.custm-w-4 {
  width: 211px;
}

.custm-pills-3 .nav-link.active,
.nav-pills .show > .nav-link {
  color: #0d72e8 !important;
  background-color: transparent;
  opacity: 1 !important;
}

/*insights modal*/

.bottom-0 {
  bottom: 0;
}

.custm-mh-2 {
  max-height: 315px;
}

.custm-pt-1 {
  padding-top: 1px;
}

.h-64 {
  height: 64px;
}

.br-tl-tr-0 {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/*district level modal*/

.top-34 {
  top: 34%;
}

.w-77 {
  width: 77%;
}
.custom-tail-tr:before,
.custom-tail-tr:after {
  right: 43px;
}

.custm-pills-2 .nav-link.active .active-border {
  content: "";
  border-bottom: 5px solid white;
  border-radius: 2px;
  position: relative;
  height: 56px;
}

.pa-area-chart {
  height: 40px;
}

/*view -2 ui issues*/

.shadow-1 {
  box-shadow: #5a2c60b4 0px 2px 6px 0px;
}

.drop-active {
  display: none;
}

.nav-link.active .drop-active {
  display: block !important;
  margin-left: -24px;
}

.rotate-180 {
  transform: rotate(180deg);
}

.z-2000 {
  z-index: 2000;
}

/* .pa-area-filter {
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(0px, 40px, 0px);
} */
.top-10 {
  top: 10%;
}
.left-20 {
  left: 20%;
}
/*comparision ui*/
.dd-bg-1 .dropdown-menu {
  background-color: #2c3138;
  box-shadow: #1e000000 0px 2px 34px 0px;
  border-radius: 12px;
  left: -15px;
}
.dd-bg-1.show-menu-arrow .dropdown-toggle .filter-option:after {
  border-bottom: 6px solid #2c3138 !important;
  left: 50% !important;
}
.dd-bg-1 .dropdown-item.active,
.dd-bg-1 .dropdown-item:active {
  background-color: transparent;
  color: #f8e71c !important;
}
.dd-bg-1.show-menu-arrow .dropdown-toggle .filter-option:before {
  border: 0 !important;
}
.dd-bg-1 .dropdown-menu li:last-child a {
  border: 0px !important;
}
/* .bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle{
  outline:none !important;
} */
.mt-28 {
  margin-top: 28%;
}
.pb-6 {
  padding-bottom: 5rem;
}
/* ion range slider */
.js-irs-0 {
  width: 100%;
}
.slider-image {
  height: 20px;
  width: 121px;
  background-image: linear-gradient(to right, #fe4c46, #ffbf55, #4dc61d);
}
.irs-from,
.irs-to,
.irs-min,
.irs-max,
.irs-line,
.irs-bar,
.irs-handle > i {
  display: none !important;
}
.irs-handle {
  top: 28px !important;
  background-color: white !important;
  border: 1px solid #ccc !important;
  height: 20px !important;
  cursor: pointer !important;
}
.score-header {
  letter-spacing: 0.5px;
}
.font-weight-600 {
  font-weight: 600;
}
.r-0 {
  right: 0;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  left: 0;
  position: relative;
}
.flex-90 {
  flex: 0 0 93%;
}
.dropdown-toggle:focus {
  outline: none !important;
}
/*menu bg*/
.bg-gradient {
  background: linear-gradient(90deg, #891462 0%, #f784d1 100%);
}
.right .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(100%, 0);
}

.right .modal.show .modal-dialog {
  transform: translate(0, 0);
}
.z-2 {
  z-index: 2;
}
.p-9 {
  font-size: 9px;
}
.dis_none {
  display: none !important;
}
/*view -1 ui issues */
.b-65 {
  bottom: 65px;
}
.border-5 {
  border-width: 5px !important;
}
.right-0 {
  right: 0px;
}
.h-325 {
  height: 325px;
}

.text-color2:hover {
  color: #3e81ed !important;
}
/* indicator dropdown css */
.nav-pills-4 .nav-link.active,
.nav-pills-4 .show > .nav-link {
  background-color: transparent;
  opacity: 1;
  font-weight: bold;
  background-image: url("/img/triangle-black.png");
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 9%;
}
.label-custm::before,
.label-custm::after {
  left: auto;
  right: -22px;
  border-radius: 2px !important;
  background-size: 70%;
  top: 2px;
}
.custm-w-5 {
  width: 100px;
}
.custom-control-input:checked ~ .label-custm::before {
  background-color: #59a600;
  border: 1px solid #59a600;
}
.b-35 {
  bottom: 35px;
}
.mt-60 {
  margin-top: 60%;
}
.d-grid {
  display: grid;
}
.custm-ls-1 {
  letter-spacing: -0.32px;
}
.custm-mh-3 {
  max-height: 43px;
}
.custm-min-w {
  min-width: 120px;
}
.map-div {
  width: 340px;
  height: 340px;
  background: transparent;
}
.mt-23 {
  margin-top: -17% !important;
}
.z-999 {
  z-index: 9999999;
}
.cal_pos {
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
}
.custm-w-6 {
  width: 205px;
}
.overflow-y-auto {
  overflow-y: auto;
}
.custm-mt-23 {
  margin-top: 23%;
}
.mt-53 {
  margin-top: 53%;
}
