<div class="card no-border-radius border-0 bg-transparent pb-2 with_out_map">
<div class="container-fluid">
    <div class="row">
    <div class="col-8 pr-0 align-self-center">
        <p class="p-13 text-uppercase mb-0 font-weight-bold text-dark">Composite Score Break-up</p>
    </div>
    <div class="col-4 pl-1 pr-2 dropdown" id="sel1">
        <button class="btn dropdown-toggle w-100 text-primary no-border-radius border-0 bg-transparent p-12 pl-0 db text-left" data-toggle="dropdown">By Type</button>
        <div class="dropdown-menu dropdown-menu-right">
        <a class="urlfilter dropdown-item hover-bg-primary hover-fg-light" href="?filter_type=type">By Type</a>
        <a class="urlfilter dropdown-item hover-bg-primary hover-fg-light" href="?filter_type=domain">By Domain</a>
        </div>
    </div>
    </div>
</div>
</div>
