<div class="legend_child">
  <ul class="nav d-flex">
    <li class="nav-item align-self-center">

      <div id="legend" class="d-flex">
        <div class="d-flex flex-wrap text-center legend_color">
          <span class="dot_red d-block mx-auto legend_circle" id="#C5141D"></span>
          <p class="p-9 font-weight-bold d-block w-100 mb-0 "> Bottom </p>
        </div>
        <div class="d-flex flex-wrap text-center legend_color">
          <span class="dot_yellow d-block mx-auto legend_circle" id="#FF8E04"></span>
          <p class="p-9 font-weight-bold d-block w-100 mb-0"> Moderate </p>
        </div>
        <div class="d-flex flex-wrap text-center legend_color">
          <span class="dot_green d-block mx-auto legend_circle" id="#098641"></span>
          <p class="p-9 font-weight-bold d-block w-100 mb-0"> Top </p>
        </div>
      </div>
    </li>
  </ul>
</div>
