<div class="bars with_out_map <%- type_ %>_bar
    <%  if(type_ != 'division'){%>
      <%-'division_display' %>
      <% } %>
  ">
  <div class=" container-fluid ">
    <div class="card no-border-radius border-0 bg-transparent mb-2 ">
      <div class="card-title mb-0 no-border-radius border-0 bg-transparent performing_text ">
        <p class="mb-0 p-13 font-weight-bold text-uppercase text-dark ">
          <!-- <span class="color-green "> Top 5</span> and <span class="color-red "> bottom 5</span> Performing -->
          <!-- <span class="performing_type "> </span> -->
          <!-- <span class=" ">
            <%- type_ %>
          </span> -->
        </p>
      </div>
    </div>
    <div class="card-body p-0 no-border-radius border-0 bg-transparent ">
      <% _.each(data, function(d){ %>
        <% var name_ = d.name%>
        <%if(d.per <= 0.3 && d.name.length > 12){%>
          <%name_ = _.join(_.slice(d.name, 0, 6), " ") + "... "%>
        <%}%>
        <% var bg_color = "bg-color4 " %>
        <% if (d.rank > 5 ) { %>
          <% bg_color = "bg-color5 " %>
        <% } %>
      <!-- <a class="nav-link p-0 text-light "> -->
        <div class="perf_bar mb-2 round cursor-pointer <%- bg_color %> w-100 p-8 py-1 px-2 text-light" id="<%- d.per %>" width="<%- d.per %>" data-attr="<%-d.name%>"><%-d.rank%><%-name_%> (<%-Number(d.per).toFixed(2)%>)</div>
      <!-- </a> -->
    <% }) %>
    </div>
  </div>
</div>
