<div class="container">
  <div class="d-flex align-items-center justify-content-start">
    <div class="d-flex justify-content-between bg-primary mt-n1">
      <!-- <a class="nav-link bg-transparent h4 mb-0 px-3 text-white btn font-weight-bold cursor-pointer pa-link rounded-0 py-1 border-color9 border-top-0 border-right"
        > <i class=" h6 hamburger fa fa-bars pt-2 cursor-pointer"></i>
      </a> -->
      <a class="mr-3" aria-hidden="true" href="./"><i class="fa fa-home fa-2x text-white"></i></a>
      <script class="sidenav" type="text/html" src="templates/side_nav.html"></script>
      <span class="btn btn-primary border-0 program-selected sm1 py-1 font-weight-bold cursor-pointer" data-toggle="modal"
          data-target="#program-menu"><img class="mt-n1" src="img/mh-icon.svg" alt="mh-icon">
        <%- (url.searchKey.program)? selected.name : '--Maternal Health'%>
        <i class="sm2 fa fa-chevron-down pl-2 " aria-hidden="true"></i>
      </span>
    </div>
    <p class="text-white mt-2 ml-4"> Core Indicators Performance at State Level - <span class="date_header"></span> </p>

    <div class="d-flex h4 mb-0 ml-auto pl-4 pr-2 text-white btn font-weight-bold cursor-pointer rounded-0 py-2 border-right border-left" id="cal-icon">
      <img class="pl-0 pr-2" src="img/cal-icon.png" alt="cal-icon"><span class="date-label sm2 d-block">Jul 2018</span><i class="sm3 fa fa-chevron-down mt-1 mx-3" aria-hidden="true"></i>
    </div>
<!--     <div class="h4 mb-0 px-2 btn text-white font-weight-bold py-2 screenshot">
      <span class="sm2 d-block cursor-pointer">
        <i class="fa fa-plus-square px-2 mr-2" aria-hidden="true"></i>ScreenShot
      </span>
    </div> -->
  </div>
</div>

<div class="custom-modal">
  <div class="modal left fade" id="program-menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header pull-left">
          <a class="text-decoration-none h3 font-weight-bold" href="pa-landing">
            <span id="myModalLabel" class="text-primary sm3">
              <i class="fas fa-arrow-left px-2"></i>
              back to programs page
            </span>
          </a>
        </div>
        <div class="modal-body overflow-y mt-2">
          <% _.each(progs, function(v, i){ %>
            <div class="row program_area_card py-2 w-100 <%-(url.searchKey.program === v.short_name )? 'selected' : '' %>"
              value="<%- v.short_name %>">
              <div class="col-3"><img class="icon" src="img/<%-v.image_name%>" alt="program icon"></div>
              <div class="col-9 align-middle program-name font-weight-bold justify-content-around">
                  <a href= "<%- url.file %>?program=<%- v.short_name %>">
                <span class="pr-4"><%- v.name.length > 15 ? v.name.slice(0, 12) + '..' : v.name %></span>
                <i class="fas fa-caret-right <%-(url.searchKey.program === v.short_name )? '': 'd-none'%>"></i> </a>
              </div>
            </div>
          <% }) %>
        </div>
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
</div>
