{% autoescape None %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>UP-TSU | Executive Summary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
<link rel="stylesheet" href="css/temp_bootstrap2.css">
  <link rel="stylesheet" href="ui/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/by_domain.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="css/executive.css">
  <link rel="stylesheet" href="ui/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="node_modules/jquery-ui-dist/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="node_modules/bootstrap-sweetalert/dist/sweetalert.css">
</head>

<body class=" map-view bg-summary ">
  {% set import json %}
  {% set import up_tsu_desktop_app %}
  {% set from gramex.config import variables %}
  {% set user_session_id = handler.get_session().get("id", {}) %}
  {% set user_info = handler.get_session().get("user", {}) %}
  {% set username = user_info.get("user", "") %}
  {% if username == 'CM_Office1' %}
    {% set handler.redirect('landing') %}
  {% end %}
  <script type="text/javascript">
    /* exported default_params, indicator_mapping,session_id */
    var default_params = {% raw up_tsu_desktop_app.get_config(handler) %}
    var session_id = {{ json.dumps(user_session_id) }}
    var indicator_mapping = {{ json.dumps(variables['indicator-mapping']) }}
  </script>

  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript">
    /* exported user_data */
    // If logged in user is not District user, user is redirected to Map view
    // Only for District users, default tab is executive summary
    var user_data = {{ json.dumps(user_info) }}
    // if (user_data.district == "") { window.location = '/'}
  </script>

  <div class="loading-icon">
    <i class="fa fa-circle-o-notch fa-spin pos-cc"></i>
  </div>

<i class="user_name" id="{{username}}"></i>
<nav class="navbar navbar-expand-md bg-gradient-nav py-0 position-fixed pos-t">
  <!-- Toggler/collapsibe Button -->
  <a class="mr-3" aria-hidden="true" href="./"><i class="fa fa-home fa-2x text-white"></i></a><span class="h5 mb-0 text-light">Health Ranking Dashboard</span>
  <!--navbar-search-->
  <!-- Navbar links -->
  <div class="d-flex ml-auto custom-menu">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link p-13 py-3 text-white text-uppercase cursor-pointer" href="map_view">Map view</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link p-13 py-3 text-white text-uppercase cursor-pointer" data-attr="niti_table" href="niti_table">niti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-13 py-3 text-white text-uppercase cursor-pointer" data-attr="cmo_table" href="cmo_table">cmo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-13 py-3 text-white text-uppercase cursor-pointer" data-attr="cmo_table" href="cmo_new">cmo new
          design</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link p-13 py-3 text-white text-uppercase cursor-pointer" href="table">table view</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-13 py-3 text-white text-uppercase cursor-pointer" href="compare">Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-13 py-3 text-white active-tab text-uppercase cursor-pointer" href="executive-summary" id="executive_nav">Executive Summary</a>
      </li>
    </ul>
  </div>
  <script class="mapview-sidenav" type="text/html" src="templates/side_nav.html"></script>
</nav>
<!--space needed-->
<!--Calender-->
<!--cards-->
<!--cards-main-->

<!--Calender-->
<script class="mapview-header" type="text/html" src="templates/page_header.html"></script>
<script class="user-profile" type="text/html" src="templates/user_profile.html"></script>
<!--cards-->
<!--cards-main-->
<div class="all_page_container"> <!-- start of pages -->
<!-- Page 1 content starts  -->
<div class="px-md-4 px-3 py-3 mt-4">
  <div class="container-fluid px-md-4 px-0 screen-custom-h-1">

    <script class="calendar" type="text/html" src="templates/pa/pa_calendar.html"></script>
    <div class="d-flex justify-content-md-end justify-content-center">
      <marquee class="w-50 text-danger ticker_msg mx-3"></marquee>
      <!-- calendar, download div starts -->
      <div class="align-self-center">
        <ul class="nav d-flex">
          <li class="nav-item p-9 text-right align-self-center text-uppercase">
            <!-- <p class="mb-0">Selected Time period</p> -->
            <p class="mb-0 font-weight-bold date-label"></p>
          </li>
          <li class="nav-item align-self-center pl-2 pr-4 cursor-pointer">
            <img src="img/calendar-face-2.svg" alt="icon" id="cal-icon">
          </li>
          <li class="nav-item align-self-center cursor-pointer">
            <p class="sm2 mb-md-0 mb-3 text-white"><a class="download_cap"> <img src="assets/img/download.svg" alt="download"></a></p>
          </li>
        </ul>
      </div>
      <!-- calendar, download div ends -->

    </div>
    <script class="no_data" type="text/html" src="templates/pa/no_data.html"></script>
    <script class="executive_sum" type="text/html" src="templates/executive_sum.html"></script>
    <script class="executive_sum_state" type="text/html" src="templates/executive_sum_state.html"></script>
  </div>
</div>
<!-- Page 1 content ends  -->

<!-- Page 2,3 content starts  -->
<div class="page_2_3 container-fluid px-md-4 px-3 mt-4 pt-5 mb-2">
  <div class="m mb-4 page_2_container">

    <div class="row ">
      <!-- Executive Insights start code -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-5">
        <div class="container_executive_p2_insights">
          <script class="executive_p2_insights" type="text/html" src="templates/executive_p2_insights.html"></script>
        </div>
      </div>
      <!-- Executive Insights end code -->
      <!-- Rank chart start code -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 rank-container org_rank_chart">
        <div class="h3 py-3 text-uppercase rank_title">
          <span class="sm2 mb-2 d-inline-block">RANK MOVEMENT (COMPOSITE SCORE) - </span><span class="sm2 mb-2 d-inline-block rank_chart_title">BLOCK LEVEL</span>
          <span class="mr-5 maximise_chart pull-right d-none" data-toggle="modal" data-target="#maximised_chart"> <i class="fa fa-arrows-alt sm2" aria-hidden="true"></i> </span>
          <div class="rank_chart position-relative"></div>
        </div>
      </div>
      <!-- Rank chart end code -->
    </div>
  </div>

  <!-- Executive Table code -->
  <div class="container_executive_table">
    <script class="executive_table" type="text/html" src="templates/executive_table.html"></script>
  </div>

</div>
<!-- Page 2,3 content ends  -->
<!-- Rank chart model -->

<div class="modal fade" id="maximised_chart">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content mt-5">
      <div class="model-header">
        <h3 class="modal-title p-2">
          <span class="sm2 mb-2 d-inline-block">RANK MOVEMENT (COMPOSITE SCORE) - </span><span class="sm2 mb-2 d-inline-block rank_chart_title">BLOCK
            LEVEL</span>
            <button type="button" class="close maximized_chart_close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

        </h3>
      </div>

      <div class="modal-body">
        <div class="rank-container">
          <div class="large_rank_chart"></div>
        </div>
      </div>

    </div>
  </div>
</div>
<script type="text/html" class="file_upload" src="templates/file_upload_template.html"></script>
<script type="text/html" class="avail_file_list" src="templates/available_file_list.html"></script>
<script type="text/html" class="insert_ticker_msg" src="templates/insert_ticker_msg.html"></script>
<script type="text/html" class="insert_ticker_msg_amethi" src="templates/insert_ticker_msg_amethi.html"></script>
<script type="text/html" class="list_of_files" src="templates/list_of_files.html"></script>

</div> <!-- end of pages -->
<!-- Matomo -->

<script>

  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function () {
    var u = "https://uphealthdashboard.in/matomo/";
    _paq.push(['setTrackerUrl', u + 'matomo.php']);
    _paq.push(['setSiteId', '1']);
    _paq.push(['setUserId', user_data.user]);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
  })();

</script>

<!-- End Matomo Code -->
{% set scripts = ['vega'] %}
{% include 'templates/scripts.html' %}
<script src="ui/noty/lib/noty.min.js"></script>
<script src="js/common_calendar.js"></script>
<script src="js/common.js"></script>
<script src="js/common_new.js"></script>
<script src="js/calendar.js"></script>
<script src="js/common_click_cal_prog.js"></script>
<script src="components/new_map.js"></script>
<script src="components/donut.js"></script>
<script src="components/bar_chart.js"></script>
<script src="components/rank_chart.js"></script>
<script src="js/executive_summary.js"></script>
<script src="js/log_capture.js"></script>
{% include 'templates/google-analytics-script.html' %}
</body>
</html>
