      <%var total_count = (_area == 'block')? 75 : 18%>
      <div class="row page_1">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 mb-4 mb-lg-0 bg-info">
          <div class="executive pb-3">
            <h2 class="font-weight-bold mb-0 text-dark text-uppercase text-md-left pt-2 text-center"><%= area_name.toUpperCase()%></h2>
            <div id="mapid" class="map-align py-md-2 py-4 text-center"></div>
            <div class="d-flex justify-content-between">
              <div class="card text-center align-items-center border-0 mb-md-0 mb-3 mr-3 text-dark  px-md-3 px-1 w-50 py-1">
                <p class="sm1 mb-0 text-uppercase">Composite score</p>
                <div class="py-2 donut_chart"></div>
                <p class="sm2 mb-0"><%=change_perc%>% v/s Previous Month</p>
              </div>
              <div class="card text-center align-items-center border-0 mb-md-0 mb-3 text-dark w-50  px-md-3 px-1 py-1">
                <p class="sm1 mb-2 text-uppercase">Rank</p>
                <div class="d-flex">
                  <div class="align-self-center">
                    <img src="img/rank.svg" alt="variable-segments-circle">
                  </div>
                  <div class="align-self-center ml-3">
                    <p class="mb-0 h3"><span class="display-3"><%= rank_district%></span>/<%= (_area == 'block')? 75 : 18%></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="border-right-1 pr-3 mt-3">
              <div class="pb-3">
                <div class="text-dark pb-2">
                  <p class="mb-1 sm1"><span class=" p-1 custom-white text-uppercase font-weight-bold">Top <%= _.size(top_3) %> Performance <%=_.startCase(_area)%>s</span></p>
                </div>
                <div class="d-md-flex justify-content-between row mx-0">
                  <% _.forEach(top_3, function(array1){ %>
                  <div class="text-dark  col-12 col-sm-12 col-md-4  px-1 align-self-center">
                    <h2 class="font-weight-bold mb-1"><%= array1.composite_index.toFixed(2) %></h2>
                    <p class="mb-0 sm2 text-dark"><%= (area_name != "Gautam Buddha Nagar")? (array1[_area].split(" ").length > 1 && !_.includes(array1[_area], "DHQ")) ? array1[_area].replace(area_name, "") : array1[_area] : array1[_area].replace("GAUTAM BUDDHA NAGAR", "GB Nagar").replace("Gautam Buddha Nagar", "GB Nagar")  %></p>
                  </div>
                  <% }) %>

                      </div>
                    </div>
                    <div class="">
                      <div class="text-dark pb-2">
                        <p class="mb-1 sm1"><span class=" p-1 custom-white text-uppercase font-weight-bold">Bottom <%= _.size(bottom_3) %> Performance <%=_.startCase(_area)%><%= (_.size(bottom_3) < 2)? '' : 's' %></span></p>
                      </div>
                      <div class="d-md-flex justify-content-between row mx-0">
                        <% _.forEach(bottom_3, function(array1){ %>
                        <div class="text-dark align-self-center  col-12 col-sm-12 col-md-4 px-1">
                          <h2 class="font-weight-bold mb-1"><%= array1.composite_index.toFixed(2) %></h2>
                          <p class="mb-0 sm2 text-dark"><%= (area_name != "Gautam Buddha Nagar")? array1[_area].split(" ").length > 1 ? array1[_area].replace(area_name, "") : array1[_area] : array1[_area].replace("GAUTAM BUDDHA NAGAR", "GB Nagar").replace("Gautam Buddha Nagar", "GB Nagar") %></p>
                        </div>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                <div class="mb-2">
                  <div class="text-dark h3 mb-0 ">
                    <%var _area2_ = (_area === 'block')? 'district' : 'division'%>

                    <h5 class=" text-uppercase text-uppercase">Executive Summary  </h5>
                    <p class="mb-2 sm3 text-justify">Based on the latest data refresh on <span class="font-weight-bold"><%=get_text_curr_prev_month()['curr_month']%> ,</span> <%= area_name%> stands at a rank of <span class="font-weight-bold"><%= rank_district%></span> out of <span class="font-weight-bold"><%= (_area == 'block')? 75 : 18%></span> <%= _area2_%>s with a composite score of <span class="font-weight-bold"><%= context_data[0].composite_index.toFixed(2)%></span>.</p>
                    <p class="mb-2 sm3 text-justify"><%= area_name%>'s best performing indicator is <span class="font-weight-bold"><%= context_data[0].indicator%></span> where it is ranked <span class="font-weight-bold"><%= context_data[0].indicator_rank %>/<%= (_area == 'block')? 75 : 18%></span> <%= _area2_%>s with a Composite score of <span class="font-weight-bold"><%= context_data[0].perc_point.toFixed(2)%>.</span> </p>
                    <p class="mb-2 sm3 text-justify">The next best performing indicator is <span class="font-weight-bold"><%= context_data[1].indicator%></span> where <%= area_name%> is ranked at <span class="font-weight-bold"><%= context_data[1].indicator_rank%>/<%= (_area == 'block')? 75 : 18%></span> with a Composite score of <span class="font-weight-bold"><%= context_data[1].perc_point.toFixed(2)%></span>.</p>
                    <p class="mb-2 sm3 text-justify"><span class="font-weight-bold"> <%= _.join(_.map(top_3, _area), ", ") %> </span> are the top performing <%=_area%>s wrt composite score.</p>
                    <p class="mb-1 sm3 text-justify"><span class="font-weight-bold"> <%= _.join(_.map(bottom_3, _area), ", ") %> </span> are the least performing <%=_area%>s wrt composite score.</p>
                  </div>
                </div>
                <div class="text-dark mb-0">
                  <div class="table-responsive mb-1">
                    <table class="table text-dark mb-0">
                      <thead class="border-0">
                        <tr>
                          <th scope="col" class="h5 mb-0 border-0 py-2 px-0 text-uppercase">Indicator Performance Change</th>
                          <th scope="col" class="border-0 py-2">
                            <p class="sm2 mb-0 font-weight-light">
                              <span class="d-block">Rank (Composite Score)</span></p>
                            </th>
                            <th scope="col" class="border-0 py-2">
                              <p class="sm2 mb-0 font-weight-light">Indicator
                                <span class="d-block">Value</span></p>
                              </th>
                            </tr>
                          </thead>
                          <tbody class="">
                            <tr>
                              <th scope="row" class="border-grey font-weight-light h4 mb-0 py-2 px-0 d-flex"><img src="img/thumb-up.svg" alt="thumb-down" class="mr-3"><span class="sm3"><%= table_data[0].indicator%></span></th>
                              <td class="border-grey font-weight-bold py-2"><%= table_data[0].indicator_rank%>/<%= total_count%></td>
                              <td class="border-grey font-weight-bold py-2"><%= table_data[0].perc_point.toFixed(2)%></td>
                            </tr>
                            <tr>
                              <th scope="row" class="border-grey font-weight-light h4 mb-0 py-2 px-0 d-flex"><img src="img/thumb-up.svg" alt="thumb-down" class="mr-3"><span class="sm3"><%= table_data[1].indicator%> </span></th>
                              <td class="border-grey font-weight-bold py-2"><%= table_data[1].indicator_rank%>/<%= total_count%></td>
                              <td class="border-grey font-weight-bold py-2"><%= table_data[1].perc_point.toFixed(2)%></td>
                            </tr>
                            <tr>
                              <th scope="row" class="border-grey font-weight-light h4 mb-0 py-2 px-0 d-flex"><img src="img/thumb-down.svg" alt="thumb-down" class="mr-3"><span class="sm3"><%= table_data[table_data.length-2].indicator%></span></th>
                              <td class="border-grey font-weight-bold py-2"><%= table_data[table_data.length-2].indicator_rank%>/<%= total_count%></td>
                              <td class="border-grey font-weight-bold py-2"><%= table_data[table_data.length-2].perc_point ? table_data[table_data.length-2].perc_point.toFixed(2) : table_data[table_data.length-2].perc_point%></td>
                            </tr>
                            <tr>
                              <th scope="row" class="border-grey font-weight-light h4 mb-0 py-2 px-0 d-flex"><img src="img/thumb-down.svg" alt="thumb-down" class="mr-3"><span class="sm3"><%= table_data[table_data.length-1].indicator%></span></th>
                              <td class="border-grey font-weight-bold py-2"><%= table_data[table_data.length-1].indicator_rank%>/<%= total_count%></td>
                              <td class="border-grey font-weight-bold py-2"><%= table_data[table_data.length-1].perc_point.toFixed(2)%></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="text-dark">
                      <div class="d-flex justify-content-between pb-3">
                        <h5 class="align-self-center mb-0 text-uppercase"><%=_area%> performance change</h5>
                        <div class="align-self-center">
                          <div class="d-flex">
                            <p class="mb-0 align-self-center sm3 mr-3">
                              <img src="img/shape-11.svg" alt="thumb-down" class="mr-2">Last Month
                            </p>
                            <p class="mb-0 align-self-center sm3">
                              <img src="img/shape-22.svg" alt="thumb-down" class="mr-2">Current Month
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="d-md-flex justify-content-between">
                        <div class="align-self-center mb-4 mb-md-0">
                          <% if (increase_blocks.length == 0) { %>
                          <p class="mb-0 px-2 pb-2 sm1 text-center font-weight-bold">No increase was observed from last month</p>
                          <% } %>
                          <div class="bar_chart <%- (increase_blocks.length == 0)? 'd-none' : ''%>"></div>
                          <% if (increase_blocks.length != 0) { %>
                          <p class="mb-0 pt-3 sm2 text-center"><%= _.startCase(_area) %> that posted Highest Increase from Last Month</p>
                          <% } %>
                        </div>

                        <div class="align-self-center">
                          <% if (decrease_blocks.length == 0) { %>
                          <p class="mb-0 pt-5 sm1 text-center font-weight-bold">No decrease was observed from last month</p>
                          <% } %>
                          <div class="bar_chart1"></div>
                          <% if (decrease_blocks.length != 0) { %>
                          <p class="mb-0 pt-3 sm2 text-center"><%= _.startCase(_area) %> that posted Lowest Decrease from Last Month</p>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
