<div class="py-2 mt-4">
    <div class="row border-0 border-radius">
        <div class="text-center h-full col-12 m-auto">
            <div class="pt-4 font-italic">
                <% let level = options['district_view'][0] == 1 ? "District Level" : "State Level" %>
                <h2 class="pt-4"><strong>Note: </strong>This Indicator is not present at <%= level %> </h2>
                <h2>Please select any other indicator from the indicator drop down </h2>
            </div>
        </div>
    </div>
</div>
