<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>UP-TSU | {{ page_title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
  <link rel="stylesheet" href="ui/leaflet/dist/leaflet.css">
  <!-- <link rel="stylesheet" href="./bootstrap-select/dist/css/bootstrap-select.min.css"> -->
  <link rel="stylesheet" href="node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="node_modules/ion-rangeslider/css/ion.rangeSlider.min.css">
  <link rel="stylesheet" href="ui/noty/lib/noty.css">
  <link rel="stylesheet" href="css/program-area.css">
  <link rel="stylesheet" href="node_modules/choices.js/public/assets/styles/choices.min.css">
</head>
