<div class="col-xs-4 mr-1">
    <div class="form-group">
        <label class="control-label font-weight-bold">From Date</label>
        <input class="form-control bg-white" type="text" placehoder="From Date" id="fromdate" readonly="readonly"/>
    </div>
</div>
<div class="col-xs-4 mr-1">
    <div class="form-group">
        <label class="control-label font-weight-bold">To Date</label>
        <input class="form-control bg-white" type="text" placehoder="To Date" id="todate" readonly="readonly"/>
    </div>
</div>
